body{
    background-color: #d9d9d9;
    overflow: hidden;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    background-color: #5170ff;
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.small-icon{
    width: 80px;
    height: 40px;
    margin: 10px;
}
#userIcon{
    width: 45px;
}

/*Side Bar*/

#nav-main-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin: 5px;
}
#menu{
    border: none;
    background-color:#d9d9d9;
    border-radius: 8px;
}
#menu:hover{
    background-color: #5170ff;
    cursor: pointer;
}
#menuIcon{
    width: 50px;
    height: 50px;
}
#small-logo{
    width: 50px;
    height: 30px;
    margin-top: 10px;
}
.buttonIcon{
    width: 40px;
    height: 40px;
}
.navBar{
    display: none;
}
.navBar.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #b4b4b4;
    width: 14em;
    height: 100vh;
    padding: 8px;
    border-top-right-radius: 16px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.nav-page-link{
    text-decoration: none;
    color: black;
}
.navBar li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
a:hover, li:hover{
    background-color: #5170ff;
    border-radius: 12px;
}


#mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

#main-page-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
    background-color: #b4b4b4;
    border-radius: 12px;
    padding: 2px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#main-page-header h1{
    font-size: 45px;
    margin: 2px;
}

.supplier-boxes-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}
 .outer-box{
    display: flex;
    justify-content: center;
    width: 13rem;
    height: 7rem;
    border-radius: 15px;
    background-color: #fff;
    border-left: solid 5px #5170ff;
    border-bottom: solid 3px #5170ff;
 }
 .inner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 8.875;
    padding: 5px;
    border-radius: 12px;
 }
 .label-text{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2px;
    color: #5170ff;
 }
 .points-value{
    font-size: 30px;
    font-weight: bold;
 }
 #outStock{
    color: rgb(255, 0, 0);
 }
 #lowStock{
    color: rgb(255, 69, 0);
 }
 .small-icon-symbol{
    width: 45px;
    height: 40px;
}
/*tab table ni*/

 #tab-table{
    width: 100%;
    height: 3rem;
    background-color: #b4b4b4;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
 }
 .tab-table-dropDown{
    width: 10rem;
    height: 3em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .tab-table-dropDown:hover{
    background-color: #5170ff;
    color: white;
 }
 #list-categories{
    display: none;
 }
 #list-categories.show{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 5em;
 }
 #addSupplier-btn{
    width: 10rem;
    height: 3em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #addSupplier-btn:hover{
    background-color: #5170ff;
    color: white;
 }

/*Table ni*/
.mainContent-Table{
    width: 100%;
    height: 15rem;
    overflow-y: auto;
    border-radius: 8px;
}

.table{
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    font-size: 24px;
    width: 100%;
}
.table th{
    background-color: #5170ff;
    color: #fff;
    text-align: left;
    position: sticky;
    top: 0;
}
.table th, .table td{
    padding: 6px 8px;
    font-weight: normal;
}
.table tbody tr:nth-of-type(even){
    background-color: #b4b4b4;
}
/*
.mainContent-Table{
    width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #b4b4b4;
  border-radius: 12px;
  padding: 10px;
}
thead{
    font-size: 28px;
}
tbody{
    font-size: 24px;
    background-color: #d9d9d9;
}

th, td {
  padding: 8px;
  text-align: left;
}
  */

/*Popup Form*/

#PopUp-form{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #5170ff;
    border-radius: 12px;
    padding: 15px;
}
#PopUp-form h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;

}
#input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    font-size: 14px;
}
.input-group{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.input-group label {
    width: 100px;
    text-align: left;
    font-weight: 500;
    margin-top: 8px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15rem;
}
.input-group button{
    width: 5rem;
    height: 2em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group button:hover{
    background-color: #5170ff;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 👈 dimmed background */
  z-index: 999;
}